// Place all the styles related to the folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.list-container {
  padding: 20px;
}

.card {
	margin-right:25px;
}
.card-body {
width:260px;

}

img {
	width:230px;
	opacity:0.94;
}
