<button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg"><%= yield :page_header %></button>
<%= yield %>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    	<div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
           		<%= yield %>

                </h3>
              </div><i class="fas fa-file-download"></i>
              <!-- /.card-header -->
              <div class="card-body">
                <dl class="row">
                  <dt class="col-sm-4">Name</dt>
                  <dd class="col-sm-8"></dd>
                  <dt class="col-sm-4">Size</dt>
                  <dd class="col-sm-8"></dd>
               
                  <dt class="col-sm-4">Keywords</dt>
                  <dd class="col-sm-8"></dd>
                  <dt class="col-sm-4">Caption</dt>
                  <dd class="col-sm-8">         <dt class="col-sm-4">Author</dt>
                  <dd class="col-sm-8">
                  </dd> 
                </dl>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

  	

    </div>
  </div>
</div>



