<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <%= render  "layouts/sidebar_user_panel" %>

  <!-- Sidebar Menu -->
  <%= render  "layouts/sidebar_menu" %>
  <!-- /.sidebar-menu -->
</div>